@lost flexbox flex;

.badge {
  position: absolute;
  top: 80px;
  right: 20px;
}

.update {
  position: absolute;
  top: 67px;
  right: 110px;
}

.update__text {
  position: relative;
  top: -7px;
  color: #CACACA;
  font-size: 12px;
}

.errorMessage {
  lost-flex-container: row;
}

.errorMessage__text {
  margin-top: 5px;
  margin-left: 10px;
}
