@lost flexbox flex;

.badge {
  position: absolute;
  top: 80px;
  right: 20px;
}

.share {
  position: absolute;
  top: 67px;
  right: 105px;
}

.update {
  position: absolute;
  top: 67px;
  right: 155px;
}

.update__text {
  position: relative;
  top: -7px;
  color: #CACACA;
  font-size: 12px;
}

@media (max-width: 660px) {
  .update, .share {
    display: none;
  }
}

.errorMessage {
  lost-flex-container: row;
}

.errorMessage__text {
  margin-top: 5px;
  margin-left: 10px;
}

.buttonIcon svg {
  position: relative;
  top: -2px;
}
