:root {
  /* Primary colors */
  --dark-primary-color:         #375EAB;
  --default-primary-color:      #375EAB;
  --light-primary-color:        #E0EBF5;
  --text-primary-color:         #fff; /* text / icons */

  /* Accent colors */
  --accent-color:               #375EAB;
  --text-accent-color:          #fff; /* text / icons */

  /* Background colors */
  --primary-background-color:   var(--paper-grey-50);
  --secondary-background-color: #fff;

  /* Text colors */
  --primary-text-color:         #424540;
  --secondary-text-color:       #7e8d9d;
  --disabled-text-color:        var(--paper-grey-400);

  /* Other colors */
  --divider-color:              #b6b6b6;
}
