.container {
  position: relative;
}

.text {
  font-weight: 400;
  font-size: 56px;
  letter-spacing: -.026em;
  line-height: 60px;
  white-space: nowrap;
}

.childrenContainer {
  width: 100%;
}

.iconsBar {
  background: #f0f0f0;
  height: 50px;
}

.iconsContainer {
  position: absolute;
  top: 0;
}

.rightIconContainer {
  composes: iconsContainer;
  right: 0;
}

.leftIconContainer {
  composes: iconsContainer;
  left: 0;
}

.explanationBtn > div > div {
  line-height: 1.6em !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
