<!doctype html>
<html lang="{$ lang $}">
{% include "head.html" %}
<body unresolved class="fullbleed vertical layout">
  <span id="browser-sync-binding"></span>

  {% include "skeleton.html" %}

  <exago-app id="app"></exago-app>

  <!-- build:js scripts/app.min.js async -->
  <script src="bower_components/page/page.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/routing.js"></script>
  <!-- endbuild-->

  <!-- Google Analytics code -->
  <start-google-analytics-tracker code="{$ googleAnalyticsTrackingId $}"></start-google-analytics-tracker>
</body>

</html>
