.wrapper {
  overflow: hidden;
  position: relative;
  background-color: #f8f8f8;
}

.linesContainer {
  float: left;
  width: 5%;
  min-width: 20px;
}

.linesContainer > pre {
  padding: .5em 0;
  text-align: right;
}

.code {
  float: left;
  width: 90%;
  position: relative;
  z-index: 10;
}

.code > pre {
  background: none !important;
}

.lineNumber {
  display: block;
  position: relative;
  top: 2px;
  color: #ccc;
}

.lineNumberComment {
  composes: lineNumber;
  background: #f00;
  width: 100%;
  position: relative;
  border-right: 9999px solid #fdd;
}

.lineNumberWithIssue {
  composes: lineNumber;
  color: #b00;
  font-weight: bold;
}
