.recentHolder {
  lost-column: 1/3;
}

@media (max-width: 1000px) {
  .recentHolder {
    lost-column: 1;
  }

  .recentHolder + .recentHolder {
    margin-top: 20px;
  }
}

.icon {
  position: relative;
  top: 6px;
  margin-right: 10px;
}

.listItemRating {
  display: flex;
  height: auto !important;
  top: 0px !important;
  bottom: 0px !important;
  right: 0px !important;
}