/* IMPORT ROBOTO FONT FOR MATERIAL UI
--------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal; }
/* END Thin */
/* BEGIN Thin Italic */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }
/* END Thin Italic */
/* BEGIN Light */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal; }
/* END Medium */
/* BEGIN Medium Italic */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }
/* END Medium Italic */
/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal; }
/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: Roboto;
  src: url("../../assets/fonts/Roboto/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }
/* END Black Italic */

:global(body) {
  margin: 0 auto;
  font-family: Roboto;
  color: #424540;
}

.appContent {
  margin: 0 auto;
  padding-top: 50px;
}

.logo {
  line-height: 59px;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: -.01em;
}
