/** @define Header */

.Header {
  background: var(--light-primary-color);
  min-height: 370px;
  text-align: center;

  @nest &-logo {
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: 61px !important;
    margin-bottom: 0;
    @apply(--paper-font-display3);

    @nest &--blue {
      color: var(--default-primary-color);
      font-weight: 500;
    }
    @nest &:visited {
      color: inherit;
    }
  }

  @nest &-subhead {
    margin-bottom: 100px;
    @apply(--paper-font-subhead);
  }

  @nest &-icon {
    --iron-icon-fill-color: var(--default-primary-color);
    cursor: pointer;
  }

  @nest &-searchContainer {
    @nest & span {
      display: block;
      margin-top: 10px;
      @apply(--paper-font-body1);
    }
  }

  @nest &[mini] {
    height: 100px;
    min-height: 100px;
    text-align: left;

    @nest & .Header-logo {
      margin: 16px 0 0 70px;
    }

    @nest & .Header-subhead {
      display: none !important;
    }

    @nest & .Header-searchContainer {
      position: absolute;
      top: 0;
      right: 70px;

      @nest & span {
        display: none;
      }
    }
  }
}