/** @define Main */

.Main {
  background: var(--primary-background-color);

  @nest &-header {
    @nest & iron-icon {
      color: #fff;
    }
  }

  @nest &-content {
    @apply(--paper-font-body1);
    color: var(--primary-text-color);
    @media (--md-viewport) {
      @apply(--paper-font-body2);
      padding: 20px;
    }
  }

  @nest &-headerTopBar {
    @apply(--layout-horizontal);
    @apply(--layout-center);

    background-color: var(--dark-primary-color);
    bottom: 0;
    left: 0;
    padding: 0 16px;
    position: absolute;
    right: 0;
    top: 0;
  }

  @nest &-headerLogo {
    @apply(--layout-horizontal);
    @apply(--layout-flex);
    @apply(--paper-font-display1);

    display: block;
    color: #fff !important;
    text-decoration: none;
    position: relative;
    top: -3px;
  }

  @nest &-headerSearch {
    @apply(--layout-horizontal);

    top: -10px;
  }
}